/* .button{
    border: 2px solid;
    border-radius : 3px;
    background-color:cadetblue;
    color: black;
    width: 110px;
    height: 30px;
}
     */
/* body{
  /* background-color: aqua */
  
/* }      */


/* .nav{ */
    /* border:10px solid black ;
    border-radius: 2px;
    color: red;
    padding : 12px;
    margin: 12px;
    display: flex;
    justify-content: space-evenly;
} */
/* .main{
border-radius: 10%;
border: 10px solid;
/* border-right-color: blue;
border-left-color: green; */
/* border-top-color: black;
border-bottom-color: brown;
display: flex;
justify-content:space-between;
align-items: flex-start;
/* flex-direction: row; */
/* flex-wrap: wrap; */
/* width: 1555px;
height: 60px; */

/* } */

/* .first{
    border: 10px solid yellow;
    border-radius: 20px;
    color:red;
    height: 420px;
    width: 240px; */
    /* margin-right: 20px;
    margin-left: 10px; */
/* } */  
/* .second{ */
    /* border: 10px solid yellow; */
    /* border-radius: 20px; */
    /* color:red;
    height: 420px;
    width: 220px;
    margin-right: 20px;   */
/* } */

/* .third{ */
      /* border: 10px solid yellow; */
    /* border-radius: 20px; */
    /* color:red; */
    /* height: 420px;
    width: 220px; */
/* } */
/* .forth{ */
     /* border: 10px solid yellow;
    border-radius: 20px;
    color:red;
    height: 420px;
    width: 220px;
    margin-left: 15px; */
/* } */
/* .footer{ */
    /* border: 1px solid red;
    border-radius: 20px;
    border-width: 10px;
    margin-top: 10px; */
/* } */
/* .loader{ */
    /* height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid red;
    border-top: 20px solid blue;
    animation: spin 0.5s linear infinite; */
/* } */
/* @keyframes spin { */
  /* from{ */
    /* transform: rotate(0deg); */
  /* } */
  /* to{ */
    /* transform: rotate(360deg); */
  /* } */
/* } */ 
/* body {
    background-color: yellow;
} */
/* .container{
    border: 2px solid red;
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: center;
    /* align-items:end; */
    /* gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap; */
    /* align-content: end;  */
    /* flex-shrink: 1; */
    /* align-self: 2; */

    

/* } */
/* .order-1{ */
    /* order: 1; */
/* } */
/* .order-2{ */
    /* order:2; */
/* } */
/* .item{ */
    /* flex-grow: 1; */
    /* border: 1px solid black; */
    /* height: 20px; */
    /* width: 20px; */
    
/* } */ 
/* .container{
    border: 1px solid black;
    height: 700px;
    width: 900px;
    display: grid;
    grid-template-areas: "nav nav nav"
                          "side article article"
                           "footer footer footer"; */
    /* grid-template-columns: [first] 120px [second] 100px [t]; */
    /* grid-template-rows: 200px 120px 130px; 

}
/* .item{
    border: 1px solid black;
    height:50px;
    width: 50px;
  
}
.item-0{
   grid-area: nav; 
   background-color: brown;   
    }
.item-1{
    /* grid-column: first/t; */
    /* grid-row: 1/2;
    grid-area: side ;
/* }
.item-2{
     /* grid-column: first/second; */
    /* grid-row: 1/2; 
    grid-area: article;
    background-color: aquamarine;
}
.item-3{
    grid-area:footer;
    background-color: aqua;

}
.item-4{
    
/* }  */
/* .container{
    height: 100px;
    width:500px;
    background-color: blue;
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    from{

    }
    to{
        transform: translateX(100px);
    }
    
} */

.container{
    height:600px;
    width: 600px;
    border: 20px solid black;

    
}
.box{
    border:10px solid royalblue;
    transition-property:all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 2s;
    width:100px;
    height:100px;
}
.box:hover{
    transform:rotateX(90deg)  scale(0.5);
}